// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.bg {
  padding: 5em;
  margin: 0;
  width: 100%;
  background-color: #374151;
}

.nav-color, .footer-color {
  background-color: #1F2937;
}

.teamsicon {
  width: 85px;
  height: 85px;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  margin: 4.7em .5em 0em 3em;
}
.teamtitle, .title  {
  font-weight: 800;
  font-family: system-ui;
}
.title {
  color:white;
}

.sub-title {
  font-weight: 400;
  font-family: system-ui;
  color:white;
}

.auto-p {
  padding: 0 .6em;
}

.line-height-sm {
  line-height: 1.2;
}

.teamcard:hover {
  opacity: 0.60;
  transform: scale(1.1);
}
.teamcard {
  transition: transform 500ms ease-in-out 25ms;
}

.cardlinks {
  color: black;
}

.cardlinks:hover {
  color: black;
  text-decoration: none;
}

.teamplayercards {
  transition: transform 500ms ease-in-out 25ms;
}

.teamplayercards:hover {
  opacity: 0.60;
  transform: translateY(-15px);
}

.starSvg {
  width: 2em;
  padding: 5px;
}

.min-height {
  height: 100vh;
}

.playerinfo > div {
  font-size: 1.2em;
}

.playerinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.playerinfoimg {
  min-width: 350px;
}



// Breakpoints lg
@media only screen and (max-width: 992px) { 
  .imageWrap {
   margin-bottom: 2em;
  }
  
}

// Breakpoints md
@media only screen and (max-width: 768px) { 
  .auto-p {
    padding: 0;
    margin: 0 -.55em;
  }
  .playerinfoimg {
    min-width: auto !important;
  }
  
  
}

// Breakpoints sm
@media only screen and (max-width: 575px) { 
  .auto-p {
    margin: auto;
  }
  .xs-display {
    padding: 1rem !important;
    margin: auto;
    width:100%;
    max-width: 400px !important;
  }
  .xs-height {
    height: 350px !important;
  }

  .xs-playerimages {
    display: flex;
    justify-content: center;
  }

  .xs-teamplayers_row {
    width: 275px !important;
  }

  .xs-teamplayers_col {
    justify-content: center !important;
    display: flex !important;
  }

  .xs-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 }

 @media only screen and (max-width: 335px) {
  .teamsicon {
    right: -16px;
  }

}
